{# {% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Applications/MAMP/htdocs/recipes_symfony/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Applications/MAMP/htdocs/recipes_symfony/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %} #}


{#
{% extends 'base.html.twig' %}

{% block body %}

{% for page in pages %}
    <div>
        <h3>{{ page.title }}</h3>
        <p>{{ page.content }}</p>
    </div>

{% endfor %}

{% endblock %} #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Recipes</title>
</head>
<body>

{% include 'header.html.twig' %}

<div class="container mt-5">
    <h3 class="mb-5">Posts</h3>


{#    {% for post in posts %}
    <div class="d-flex flex-wrap">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h2 class="my-0 font-weight-normal">Title of Post</h2>
                <h4>{{ user.username }}</h4>
            </div>
            <div class="card-body">
                <img src="" class="img-thumbnail">
                <ul class="list-unstyled mt-3 mb-4">
                    <div>{{ post.title }}</div>
                    <div>{{ post.content }}</div>
                    <form>dfsfg</form>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Details</button>
            </div>
        </div>
        {% endfor %}#}

    </div>
</div>

{% include 'footer.html.twig' %}


</body>
</html>