<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>{% block title %}Add post{% endblock %}</title>
</head>
<body>

{% include 'header.html.twig' %}

{% block body %}

    <div class="columns is-centered">
        <div class="column is-half">

            {# flash message #}
            {% for messsage in app.flashes('success') %}
                <div class="alert alert-success"></div>
                {{ messsage }}
            {% endfor %}


            {# check if user is logged #}
            {% if app.user %}

                <h1 class="title is-2 mb-3 mt-5 font-weight-normal">Add a post</h1>
                <div class="mb-5">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}
                </div>
                <button type="submit" class="button is-link">Add post</button>
                {{ form_end(form) }}

            {% else %}

                <div class="title is-2 mb-3 mt-5 font-weight-normal">
                    <h3>You have to <a href="{{ "/login" }}">Sign in </a>first to adding a post!</h3>
                </div>

            {% endif %}

        </div>
    </div>

{% endblock %}

{% include 'footer.html.twig' %}

</body>
</html>
